version: '3.8'

services:
  postgres:
    image: postgres
    container_name: mercurylayer-postgres-1
    environment:
      POSTGRES_PASSWORD: pgpassword
    ports:
      - "5432:5432"

  bitcoind:
    image: lncm/bitcoind:v22.0@sha256:37a1adb29b3abc9f972f0d981f45e41e5fca2e22816a023faa9fdc0084aa4507
    container_name: mercurylayer-bitcoind-1
    user: root
    command: -regtest -rpcbind=0.0.0.0 -rpcallowip=0.0.0.0/0 -rpcauth=user:63cf03615adebaa9356591f95b07ec7b$$920588e53f94798bda636acac1b6a77e10e3ee7fe57e414d62f3ee9e580cd27a -fallbackfee=0.0001 -zmqpubrawblock=tcp://0.0.0.0:28332 -zmqpubrawtx=tcp://0.0.0.0:28333
    ports:
      - "18443:18443"
      - "28332:28332"
      - "28333:28333"
    volumes:
      - bitcoin_data:/root/.bitcoin

  electrs:
    image: getumbrel/electrs:v0.9.4@sha256:b1590ac6cfb0e5b481c6a7af7f0626d76cbb91c63702b0f5c47e2829e9c37997
    container_name: mercurylayer-electrs-1
    user: root
    environment:
      ELECTRS_LOG_FILTERS: "INFO"
      ELECTRS_NETWORK: "regtest"
      ELECTRS_DAEMON_RPC_ADDR: "bitcoind:18443"
      ELECTRS_DAEMON_P2P_ADDR: "bitcoind:18444"
      ELECTRS_ELECTRUM_RPC_ADDR: "0.0.0.0:50001"
      ELECTRS_SERVER_BANNER: "Umbrel Electrs"
    ports:
      - "50001:50001"
    volumes:
      - electrs-data:/data
      - bitcoin_data:/root/.bitcoin
    depends_on:
      - bitcoind

  enclave-sgx:
    build:
      context: enclave
      dockerfile: Dockerfiles/SIM/Dockerfile
    container_name: mercurylayer-enclave-sgx-1
    depends_on:
      - postgres
    environment:
      ENCLAVE_DATABASE_URL: postgres://postgres:pgpassword@postgres:5432/postgres
      ENCLAVE_PORT: 18080
      SEED_DIR: ./seed
    ports:
      - "18080:18080"

  mercury:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    environment:
      NETWORK: regtest
      LOCKHEIGHT_INIT: 1100
      LH_DECREMENT: 1
      DB_USER: postgres
      DB_PASSWORD: pgpassword
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      BATCH_TIMEOUT: 20
      ENCLAVES: '[{"url": "http://mercurylayer-enclave-sgx-1:18080", "allow_deposit": true}]'
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  token-server:
    build:
      context: .
      dockerfile: ./token-server/Dockerfile
    environment:
      PROCESSOR_URL: https://api.swiss-bitcoin-pay.ch
      API_KEY: aaaa
      FEE: 0.0001
      UNIT: BTC
      DELAY: 3600
      DB_USER: postgres
      DB_PASSWORD: pgpassword
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
    ports:
      - "8001:8001"
    depends_on:
      - postgres

  alice:
    image: lightninglabs/lndinit:v0.1.21-beta-lnd-v0.18.0-beta
    container_name: mercurylayer-alice-1
    user: root
    hostname: lnd
    entrypoint: 
      - sh
      - -c
      - |
        if [[ ! -f /data/seed.txt ]]; then
          lndinit gen-seed > /data/seed.txt
        fi
        if [[ ! -f /data/walletpassword.txt ]]; then
          lndinit gen-password > /data/walletpassword.txt
        fi
        lndinit -v init-wallet \
          --secret-source=file \
          --file.seed=/data/seed.txt \
          --file.wallet-password=/data/walletpassword.txt \
          --init-file.output-wallet-dir=/root/.lnd/data/chain/bitcoin/regtest \
          --init-file.validate-password
        mkdir -p /data/.lnd
        if [ ! -f "/data/.lnd/umbrel-lnd.conf" ]; then
          touch "/data/.lnd/umbrel-lnd.conf"
        fi
        lnd --listen=0.0.0.0:9735 --rpclisten=0.0.0.0:10009 --restlisten=0.0.0.0:8080 --bitcoin.active --bitcoin.regtest --bitcoin.node=bitcoind --bitcoind.rpchost=bitcoind --bitcoind.rpcuser=user --bitcoind.rpcpass=pass --bitcoind.zmqpubrawblock=tcp://bitcoind:28332 --bitcoind.zmqpubrawtx=tcp://bitcoind:28333 --configfile=/data/.lnd/umbrel-lnd.conf --wallet-unlock-password-file=/data/walletpassword.txt --wallet-unlock-allow-create
    ports:
      - "9735:9735"
      - "10009:10009"
      - "8080:8080"
    volumes:
      - alice-data:/data/.lnd
    restart: unless-stopped
    environment:
      HOME: /data
    command: [ '/init-wallet-k8s.sh' ]
    depends_on:
      - bitcoind

  bob:
    image: lightninglabs/lndinit:v0.1.21-beta-lnd-v0.18.0-beta
    container_name: mercurylayer-bob-1
    user: root
    hostname: lnd
    entrypoint: 
      - sh
      - -c
      - |
        if [[ ! -f /data/seed.txt ]]; then
          lndinit gen-seed > /data/seed.txt
        fi
        if [[ ! -f /data/walletpassword.txt ]]; then
          lndinit gen-password > /data/walletpassword.txt
        fi
        lndinit -v init-wallet \
          --secret-source=file \
          --file.seed=/data/seed.txt \
          --file.wallet-password=/data/walletpassword.txt \
          --init-file.output-wallet-dir=/root/.lnd/data/chain/bitcoin/regtest \
          --init-file.validate-password
        mkdir -p /data/.lnd
        if [ ! -f "/data/.lnd/umbrel-lnd.conf" ]; then
          touch "/data/.lnd/umbrel-lnd.conf"
        fi
        lnd --listen=0.0.0.0:9735 --rpclisten=0.0.0.0:10009 --restlisten=0.0.0.0:8080 --bitcoin.active --bitcoin.regtest --bitcoin.node=bitcoind --bitcoind.rpchost=bitcoind --bitcoind.rpcuser=user --bitcoind.rpcpass=pass --bitcoind.zmqpubrawblock=tcp://bitcoind:28332 --bitcoind.zmqpubrawtx=tcp://bitcoind:28333 --configfile=/data/.lnd/umbrel-lnd.conf --wallet-unlock-password-file=/data/walletpassword.txt --wallet-unlock-allow-create
    ports:
      - "9736:9735"
      - "10010:10009"
      - "8081:8080"
    volumes:
      - bob-data:/data/.lnd
    restart: unless-stopped
    environment:
      HOME: /data
    command: [ '/init-wallet-k8s.sh' ]
    depends_on:
      - bitcoind

volumes:
  bitcoin_data:
  electrs-data:
  alice-data:
  bob-data:
  esplora-data:
